.features {
    @include section;

    &__subtitle {
        @include subtitle-sep
    }

    &__title {
        margin-block-end: 40px;
    }

    &__list {
        @include desktop {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    &__item {

        &:nth-child(2n) .features__card-f {
            background-color: var(--smoky-black-3);
        }
    }
}