// Специальные миксины для более удобного использования медиазапросов

$desktop-l: 1400px;

$desktop: 1200px;

$tablet-l: 992px;

$tablet: 768px;

$mobile-l: 575px;

//это переменные, которые определяют ключевые точки для различных размеров устройств. Например, $desktop: 1280px означает, что «десктопный» вид будет применяться для экранов с шириной до 1280 пикселей.

@mixin desktop-l {
    @media (min-width: $desktop-l) {
        @content;
    }
}       

@mixin desktop {
    @media (min-width: $desktop) {
        @content;
    }
}                                           //Этот миксин применяется для экранов шире, чем 1200 пиксель (min-width: $desktop). Код внутри этого миксина  будет работать на экранах, которые больше, чем обычный десктоп.

@mixin tablet-l {
    @media (min-width: $tablet-l) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: $tablet) {
        @content;
    }
}

@mixin mobile-l {
    @media (min-width: $mobile-l) {
        @content;
    }
}

@mixin hover {
    @media (hover: hover) {
        &:hover {
            @content;
        }
    }

    @media (hover: none) {
        &:active {
            @content;
        }
    }
}                                   //На устройствах, поддерживающих наведение, стили внутри &:hover будут применяться при наведении. На устройствах без поддержки наведения (например, сенсорные экраны), те же стили применятся при активации элемента (&:active). Это помогает устранить проблему «залипания» эффектов наведения на мобильных устройствах.